<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BGP</title>
    <style>
        body {
            background-color: #232323;
            text-align: center
        }

        h1 {
            font-size: 100px;
            color: #6d6d6d
        }

        #beian {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100vw
        }

        a {
            color: #dadada;
            font-size: 10px;
            text-decoration: none
        }
    </style>
</head>

<body>
    <div>
        <h1>BGP</h1>
    </div>
</body>

</html>